<nav class="container">
    <a class="logo d-lg-none">
        <i class='bi bi-activity'></i>
        <p>Reethm</p>
    </a>
    
    <div class="topbar-group1 d-none d-md-block">        
        <ul>
            <li *ngFor="let link of topbarlinks">
                <a>{{ link.label }}</a>
            </li>
        </ul>
    </div>
    <div class="topbar-group2 d-none d-lg-block">
        <div class="input-group">
            <button class="input-group-text search-addon btn" type="button" id="search" (click)="print()">
                <i class="bi bi-search"></i>
            </button>
            <input type="text" class="search-textbox form-control" placeholder="Type here to search" aria-label="search" aria-describedby="search">
          </div>
    </div>
    <div class="topbar-group3">
        <ul>
            <li class="notification">
                <a><i class="bi bi-bell-fill"></i></a>
            </li>
            <li class="settings d-none d-md-block">
                <a><i class="bi bi-gear-fill"></i></a>
            </li>
            <li class="profile">
                <a>
                    <div class="profile-picture">
                        <!-- <i class="bi bi-person-bounding-box"></i> -->
                    </div>
                    <p class="d-none d-lg-block">Okafor Henry</p>
                </a>
            </li>
            <li class="collapsible d-lg-none">
                <a><i class="bi bi-list"></i></a>
            </li>
        </ul>
    </div>
</nav>
